.conf.git/
.bash_history
.bash_logout
.dotnet/
.landscape/
.lesshst
.ssh/
.gnupg/
.wget-hsts
.motd_shown
twrp_default.xml
.sudo_as_admin_successful
.skip_cloud_init_warning
.vscode_remote_containers/*
.vscode_server/*
.phoronix_test_suite/*
.cache/
.local/
.repoconfig/
.repo_.gitconfig.json
.config/neofetch/
.phoronix-test-suite/
.skip-cloud-init-warning
.vscode-remote-containers/
.vscode-server/
Downloads/
twrp-default.xml
.config/*
.pki/
.steam*
*.orig
Templates/*
.mozilla/
go/
.kodi/
Documents/code/
