.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.conf.git/
.config/dconf/
.config/evolution/
.config/gnome-initial-setup-done
.config/gnome-session/
.config/GNOME-xdg-terminals.list
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0/
.config/ibus/
.config/mimeapps.list
.config/nautilus/
.config/pulse/
.config/tiling-assistant
.config/ubuntu-xdg-terminals.list
.config/xdg-terminals.list
Desktop/
Documents/
Downloads/
.dbus/
.gconf/
.gnupg/
.lesshst
Music/
Pictures/
Public/
snap/
.ssh/
.sudo_as_admin_successful
Templates/
Videos/
.wget-hsts
.Xdefaults
.local/
.pki/
.xfce4-session.*
.xsession-errors
